fastapi
fastapi-cli
uvicorn
pydantic
SQLAlchemy
psycopg2 # In case you are not on a Windows machine, you should use psycopg2-binary package with its current stable version
python-dotenv
supabase
alembic

